@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&display=swap');

@font-face {
    font-family: 'Stretch Pro';
    src: url('../fonts/StretchPro.otf') format('opentype');
    font-weight: normal;
}

:root {
    --font-padrao: 'Poppins', Arial, Verdana, Helvetica, sans-serif;
    --font-stretch: 'Stretch Pro', cursive;
    
    --cor-footer: #161E2D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

body {
    background: rgba(0, 0, 0, 0.021);
    min-height: 100vh;
}

::selection {
    background-color: #FFF7B6;
    color: #000;
}

/* HEADER */
header {
    padding: 0 80px;
    height: 80px;
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
    background-color: #000;
    transition: all .5s ease-out;
}

.header-container {
    max-width: 1200px;
    min-width: 840px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%!important;
    position: static;
    padding: 0 16px;
}

.header-container ul {
    list-style: none;
    display: flex;
    align-items: stretch;
    gap: 40px;
}

.header-container ul li a {
    text-decoration: none;
    color: #FFF;
    font-weight: normal;
    transition: all 0.3s;
    font-size: 17px;
}

.header-container ul li a:hover {
    color: rgb(175, 83, 30);
}


.logo {
    font-family: var(--font-stretch);
    color: orangered;
    text-decoration: none;
    font-size: 32px;
}
/* FIM HEADER */

/* MAIN PRODUCTS */

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151515;
}

.main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.product .product-card {
    z-index: 1;
    background: #1D212B;
    position: relative;
    width: 380px;
    height: 450px;
    margin: 40px;
    border-radius: 10px;
}

.product .product-card:before {
    content: '';
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .product-card .product-img {
    z-index: 1;
    position: absolute;
    max-width: 350px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product .product-card .name {
    z-index: 2;
    color: #FFF;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 105px;
    font-size: 20px;
    letter-spacing: 1px;
}

.product .product-card .price {
    z-index: 2;
    color: #FFF;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 68px;
    font-size: 25px;
    font-weight: 300;
}

.product .product-card .popup-btn {
    z-index: 2;
    color: #FFF;
    background: #555;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.product .product-card .popup-btn:hover {
    background-color: rgba(85, 85, 85, 0.637);
}

/* POPUP VIEW*/

.product .popup-view {
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.product .popup-view.active {
    opacity: 1;
    visibility: visible;
}

.product .popup-card {
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.product .popup-card .product-img {
    z-index: 2;
    background: #1d2128;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .popup-card .product-img img {
    z-index: 2;
    position: relative;
    width: 450px;
    left: -10%;
}

.product .popup-card .info {
    z-index: 2;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
}

.product .popup-card .close-btn {
    color: #555;
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.product .popup-card .close-btn:hover {
    color: #ff0000;
}

.product .popup-card .info h2 {
    font-size: 40px;
    line-height: 20px;
    margin: 10px;
}

.product .popup-card .info h2 span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product .popup-card .info p {
    font-size: 15px;
    margin: 10px;
}

.product .popup-card .info .price {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

.product .popup-card .info .add-cart-btn {
    color: #fff;
    background: #009dd2;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
    transition: 0.3s;
}

.product .popup-card .info .add-cart-btn:hover {
    background-color: #009ed2bb;
}

.product .popup-card .info .add-wish {
    color: #009dd2;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

/* Responsive popup view */

@media (max-width: 768px) {
    .product .popup-card {
        flex-direction: column;
        width: 550px;
        height: auto;
    }

    .product .popup-card .product-img {
        z-index: 3;
        width: 100%;
        height: 200px;
        transform: translateY(0);
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .product .popup-card .product-img img {
        left: initial;
        max-width: 53%; 
    }

    .product .popup-card .info {
        width: 100%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .product .popup-card .info h2 {
        margin: 20px 5px 5px 5px;
        font-size: 25px;
    }

    .product .popup-card .info h2 span {
        font-size: 10px;
    }

    .product .popup-card .info p {
        margin: 5px;
        font-size: 13px;
    }

    .product .popup-card .info .price {
        margin: 5px;
        font-size: 30px;
    }

    .product .popup-card .info .add-cart-btn {
        margin: 5px auto;
        padding: 5px 40px;
        font-size: 14px;
    } 

    .product .popup-card .info .add-wish {
        font-size: 14px;
    }

    .product .popup-card .close-btn {
        z-index: 4;
    }
}

.newsletter {
    background: #464646;
    align-items: center;
}

.register-container {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

form input {
    background-color: #161E2D;
    padding: 5px 10px;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    color: #FFF;
}

.btn {
    background: #182532;
    color: #FF4500;
    font-weight: bold;
    width: 180px;
    border-color: #182532;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    border-color: #238FD1;
}

/* FOOTER */

footer {
    background: #000;
}

.footer-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-pages {
    padding: 56px 0;
    background: #000;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    color: #FFF;
    margin-bottom: 12px;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list a {
    text-decoration: none;
    font-size: 14px;
    color: #FFF;
}

.footer-item a:hover {
    text-decoration: underline;
}

.footer-item i {
    font-size: 30px;
    color: #FFF;
}

.footer-list span {
    color: rgb(247, 78, 17);
    font-size: 15px;
}

.footer-list-social {
    display: flex;
    text-decoration: none;
    font-size: 14px;
    color: #FFF;
    list-style: none;
    gap: 12px;
}

.footer-list-social a {
    color: #FFF;
    transition: all 0.3s;
}

.footer-list-social i:hover {
    color: rgb(247, 78, 17);
}

.footer-list span a:hover {
    text-decoration: none;
}

.phone-number {
    font-size: 16px;
    color: #FFF;
    margin-top: -25px;
    margin-bottom: 20px;
}

.phone-number a {
    font-size: 18px;
}

.phone-number a:hover {
    text-decoration: underline;
}

.footer-copy {
    background: #000;
}

.footer-copy p {
    color: rgba(255, 255, 255, 0.582);
    text-align: center;
}

/* FIM FOOTER */